* {
  margin: 0px;
  padding: 0px;
}
html {
  overflow-x: hidden;
}
body {
  min-width: 1200px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #cdbda4;
  border-radius: 10px;
}

p {
  text-indent: 2em;
  line-height: 1.8em;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-left: 130px;
  margin-right: 130px;
}
img {
  display: block;
  height: 100%;
}

@mar_bottom_big: 100px;
@mar_bottom_middle: 50px;
@mar_bottom_small: 20px;
